{{ partial "nextprev.html" . -}}
{{ partial "taglist.html" . -}}
</article>
</main>
<footer>
	<a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a><br><br>
	<a href="/index.xml"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for updates."></a>
</footer>
<script src="https://giscus.app/client.js"
        data-repo="samibr/based-mathematics"
        data-repo-id="R_kgDOHxReRw"
        data-category="General"
        data-category-id="DIC_kwDOHxReR84CQoIP"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
</body>
</html>
